openapi: 3.0.1
info:
  title: "Alor OpenAPI V2"
  description: |
    API для работы с торговой системой АЛОР Брокер. Предоставляет интерфейсы для выставления заявок и получения биржевой информации.
    
    Данные для неавторизованных запросов предоставляются с задержкой от 15 минут, для авторизованных - без задержек. 
    
    Публичная биржевая информация может быть получена через HTTP(S) API, а также доступна через однократно установленное WebSocket соединение. <br>
    **Внимание!** WebSocket соединения могут и будут разрываться *(например, если клиент не успевает обрабатывать сообщения и на стороне API в буфере накопится более 5000 событий)*. <br>
    Во внешнем ПО необходимо предусмотреть механизмы переподключения и переподписки (при необходимости)! <br> <br> 
    В OpenAPI V2 доступны "Московская Биржа" (MOEX) и "Биржа СПБ" (SPBX). 
    
    <h4> Доступные типы данных </h4>
     * Все сделки
     * Все заявки
     * Информация по инструментам
     * Котировки
     * Биржевые стаканы
     * Исторические данные
     * Позиции
     * Информация о клиенте
    
    <h4>Поддерживаемые виды заявок</h4>
     * рыночные
     * лимитные
     * стоп-лосс
     * тейк-профит
     * стоп-лосс лимит
     * тейк-профит лимит
    
    <h4>    Ограничения по частоте запросов     </h4>
    <p>На текущий момент ограничений по количеству запросов в минуту нет, однако есть ограничение на общее количество подписок (сотни тысяч). При достижении лимита подписок клиент будет заблокирован и в течение нескольких минут не сможет создавать новые подписки. Уже существующие подписки продолжат работать. <br/>
     Сервер может обрабатывать "тяжелые" запросы (пример - история за все время) и запросы без авторизации с меньшим приоритетом.<br/>
    </p>

    <h4>Получение списка портфелей</h4>
    <p>Получить список доступных портфелей можно из JWT токена</p>
    <p>Для получения списка доступных портфелей необходимо декодировать JWT токен. Портфели находятся в поле <b>portfolios</b>.</p>
    <br/>
    
    <h2>
    Авторизация
    </h2>

    <h4>OAuth</h4>

    <b>Внимание!</b>  
    JWT и refresh token — равносильны логину и паролю.
    Их нужно скрывать от публичного доступа.

    <h4>Для разработчиков сторонних приложений, в которых торговлю будут вести их пользователи.</h4>
    
    Мы предоставляем сервис для авторизации сторониих приложений по стандарту OAuth 2.0.
    С примером приложения, использующего OAuth сервис для авторизации пользователей можно ознакомиться в разделе
     <a href="/examples">Примеры</a>.

    Список разрешений (scopes), которые могут быть выданы приложению:
    <table>
      <tr>
        <td><b>OrdersRead</b></td>
        <td>Чтение выставленных заявок</td>
      </tr>
      <tr>
        <td><b>OrdersCreate</b></td>
        <td>Выставление заявок</td>
      </tr>
      <tr>
        <td><b>Trades</b></td>
        <td>Чтение совершенных сделок</td>
      </tr>
      <tr>
        <td><b>Personal</b></td>
        <td>Персональная информация: ФИО, почта и т.п.</td>
      </tr>
      <tr>
        <td><b>Stats</b></td>
        <td>Статистика: прибыль, средние цены и т.п.</td>
      </tr>
    </table>

    <h4>Для ведения операций от своего имени</h4>
    
    Выписать себе <b>refresh token</b> для ведения операций от своего имени [можно здесь](https://alor.dev/open-api-tokens).

    <h2>Краткое описание работы с авторизацией</h2>

    Чтобы выполнить авторизованный запрос, добавьте в запрос заголовок с именем "Authorization"
    и значением, состоящим из префикса `"Bearer "` и валидного JWT токена.

    Срок жизни JWT короткий: это сделано для безопасности. 
    Для большинства вариантов использования API мы рекоммендуем использовать механизм  <b>refresh token</b> .
    
    Механизм  <b>refresh token</b>  позволяет получать JWT с новым сроком жизни.
    Для этого отправьте POST запрос на адрес `https://oauthdev.alor.ru/refresh?token={refreshToken}` *(тестовый контур)* или `https://oauth.alor.ru/refresh?token={refreshToken}` *(боевой контур)*.
    Если у  <b>refresh token</b>  не истек срок жизни и не он не был отозван, то в теле ответа в поле AccessToken вернётся свежий JWT токен. 

    Срок жизни  <b>refresh token</b>, получаемого обычным способом — 1 месяц.  
    Срок жизни  <b>refresh token</b>, получаемого самостоятельным выписыванием — год.

    |
    |-
    
    > Если мы для вас не завели портфели для ведения торговли в игровом контуре, оставьте заявку на <a href="mailto:openapi@alor.ru">openapi@alor.ru</a> или свяжитесь с нами в [телеграме](https://t.me/AlorOpenAPI).

    </br></br>
    Тестовый контур: `https://apidev.alor.ru`

    Боевой контур: `https://api.alor.ru`
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  version: '1.0'
  termsOfService: "http://alorbroker.ru"
  contact:
    email: "openapi@alor.ru"
servers:
 - url: "https://apidev.alor.ru"

tags:
  - name: ClientInfo
    description: Информация о клиенте
  - name: Instruments
    description: "Ценные бумаги / инструменты"
  - name: Other
    description: "Другое"
  - name: Orders
    description: "Работа с заявками"
  - name: Subscriptions
    description: "Подписки и события (WebSocket)"
  - name: StopOrdersV2
    description: "Стоп-заявки v2"
  - name: OrdersWebSocket
    description: Работа с заявками (WebSocket beta)
  - name: OrderGroups
    description: Группы заявок
  - name: Deprecated
    description: Устаревшее

paths:
  /md/v2/clients/{exchange}/{portfolio}/orders:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       - ClientInfo
     summary: 'Получение информации о всех заявках'
     description: "Запрос информации о всех заявках"
     operationId: DevGetAllOrders
     parameters:
       - $ref: "#/components/parameters/ExchangePath"
       - $ref: "#/components/parameters/PortfolioPath"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio'
     deprecated: false
     security: 
       - bearerAuth: []
  /md/v2/clients/{exchange}/{portfolio}/orders/{orderId}:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       - ClientInfo
     summary: 'Получение информации о выбранной заявке'
     description: "Запрос информации о выбранной заявке"
     operationId: DevGetOneOrder
     parameters:
       - $ref: "#/components/parameters/ExchangePath" 
       - $ref: "#/components/parameters/PortfolioPath"
       - $ref: "#/components/parameters/OrderId"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/order"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio' 
       '404':
          description: 'Указанный orderId не найден'
     deprecated: false
     security: 
       - bearerAuth: []
 
       
  /md/v2/clients/legacy/{exchange}/{portfolio}/money:
   get: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      - Deprecated
     summary: "Получение информации по деньгам для выбранного портфеля"
     description: "Запрос информации о позиции по деньгам. Вызов существует для обратной совместимости с API v1, предпочтительно использовать другие вызовы (/summary, /risk, /positions)"
     operationId: "ExchangePortfolioMoney"
     parameters: 
       - $ref: "#/components/parameters/ExchangePath"
       - $ref: "#/components/parameters/PortfolioPath"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/money"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio' 
     deprecated: true
     security: 
       - bearerAuth: []
       
  /md/v2/clients/{exchange}/{portfolio}/summary:
   get: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      - ClientInfo
     summary: "Получение информации о портфеле"
     description: "Запрос сводной информации о портфеле"
     operationId: "ExchangePortfolioSummary"
     parameters: 
       - $ref: "#/components/parameters/ExchangePath"
       - $ref: "#/components/parameters/PortfolioPath"
       - $ref: "#/components/parameters/Format"
     responses: 
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/summary"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio' 
     deprecated: false
     security: 
       - bearerAuth: []
       
  /md/v2/Clients/{exchange}/{portfolio}/positions:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      - ClientInfo
     summary: "Получение информации о позициях"
     description: "Запрос информации о позициях"
     operationId: "DevGetAllPositions"
     parameters:
       - $ref: "#/components/parameters/ExchangePath"
       - $ref: "#/components/parameters/PortfolioPath"
       - $ref: "#/components/parameters/Format"
       - $ref: "#/components/parameters/WithoutCurrency"
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/positions"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio' 
     deprecated: false
     security: 
       - bearerAuth: []
       
  /md/v2/Clients/{exchange}/{portfolio}/positions/{symbol}:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      - ClientInfo
     summary: "Получение информации о позициях выбранного инструмента"
     description: "Запрос информации о позициях выбранного инструмента"
     operationId: "DevGetOnePosition"
     parameters:
       - $ref: "#/components/parameters/ExchangePath"
       - $ref: "#/components/parameters/PortfolioPath"
       - $ref: "#/components/parameters/SymbolPath"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/position"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio'
       '404':
         description: 'Указанный symbol не найден' 
     deprecated: false
     security: 
       - bearerAuth: []
       
  /md/v2/Clients/{exchange}/{portfolio}/trades:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      - ClientInfo
     summary: "Получение информации о сделках"
     description: "Запрос информации о сделках (только за текущую торговую сессию)"
     operationId: "DevGetAllTrades"
     parameters:
       - $ref: "#/components/parameters/ExchangePath"
       - $ref: "#/components/parameters/PortfolioPath"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/trades"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio'
     deprecated: false
     security: 
       - bearerAuth: []
       
  /md/v2/Clients/{exchange}/{portfolio}/{ticker}/trades:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      - ClientInfo
     summary: "Получение информации о сделках по выбранному инструменту"
     description: "Запрос информации о сделках по выбранному инструменту"
     operationId: "DevGetTickerTrades"
     parameters:
       - $ref: "#/components/parameters/ExchangePath"
       - $ref: "#/components/parameters/PortfolioPath"
       - $ref: "#/components/parameters/TickerPath"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/trades"
     deprecated: false
     security: 
       - bearerAuth: []
       
  /md/v2/Clients/{exchange}/{portfolio}/fortsrisk:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      - ClientInfo
     summary: "Получение информации о рисках на срочном рынке"
     description: "Запрос информации о рисках на срочном рынке для выбранного портфеля"
     operationId: "Fortsrisk"
     parameters:
       - $ref: "#/components/parameters/ExchangePathMoexOnly"
       - $ref: "#/components/parameters/PortfolioPath"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/fortsrisk"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio'
     deprecated: false
     security: 
       - bearerAuth: []
       
  /md/v2/Clients/{exchange}/{portfolio}/risk:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      - ClientInfo
     summary: "Получение информации о рисках"
     description: "Запрос информации о рисках"
     operationId: "Risk"
     parameters:
       - $ref: "#/components/parameters/ExchangePath"
       - $ref: "#/components/parameters/PortfolioPath"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/risk"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio'
     deprecated: false
     security: 
       - bearerAuth: []

  /md/stats/{exchange}/{portfolio}/history/trades:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      - ClientInfo
     summary: "Получение истории сделок"
     description: "Запрос списка сделок за предыдущие дни (не более 1000 сделок за один запрос)"
     operationId: "TradeStats"
     parameters:
       - $ref: "#/components/parameters/ExchangePath" 
       - $ref: "#/components/parameters/PortfolioPath"
       - $ref: "#/components/parameters/DateFrom"
       - $ref: "#/components/parameters/FromId"
       - $ref: "#/components/parameters/LimitQueryOptionalMax1000"
       - $ref: "#/components/parameters/Descending"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/trades"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio'
     deprecated: false
     security: 
       - bearerAuth: []

  
  /md/stats/{exchange}/{portfolio}/history/trades/{symbol}:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      - ClientInfo
     summary: "Получение истории сделок (один тикер)"
     description: "Запрос списка сделок за предыдущие дни (не более 1000 сделок за один запрос) по одному инструменту. "
     operationId: "TradeStatsBySymbol"
     parameters:
       - $ref: "#/components/parameters/ExchangePath"
       - $ref: "#/components/parameters/PortfolioPath"
       - $ref: "#/components/parameters/SymbolPath"
       - $ref: "#/components/parameters/DateFrom"
       - $ref: "#/components/parameters/FromId"
       - $ref: "#/components/parameters/LimitQueryOptionalMax1000"
       - $ref: "#/components/parameters/Descending"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/trades"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio'
     deprecated: false
     security: 
       - bearerAuth: []
  
  /md/v2/Securities:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       - Instruments
     summary: 'Получение информации о торговых инструментах'
     description: 'Запрос информации о торговых инструментах'
     operationId: DevSecuritiesSearch
     parameters:
       - $ref: "#/components/parameters/TickerQueryNamedQuery"
       - $ref: "#/components/parameters/LimitQueryOptional"
       - $ref: "#/components/parameters/Offset"
       - $ref: "#/components/parameters/Sector"
       - $ref: "#/components/parameters/CfiCode"
       - $ref: "#/components/parameters/ExchangeQueryOptional"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/securities"
     security: 
       - bearerAuth: []
     deprecated: false
     
  /md/v2/Securities/{exchange}:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       - Instruments
     summary: 'Получение информации о торговых инструментах на выбранной бирже'
     description: 'Запрос информации об инструментах на выбранной бирже'
     operationId: DevSecuritiesSearchExchange
     parameters:
       - $ref: "#/components/parameters/ExchangePath"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/securities"
     deprecated: false
     security: 
      - bearerAuth: []
      
  /md/v2/Securities/{exchange}/{symbol}:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       - Instruments
     summary: 'Получение информации о выбранном финансовом инструменте'
     description: 'Запрос информации о выбранном финансовом инструменте на бирже'
     operationId: DevSecuritiesSearchExchangeCode
     parameters:
       - $ref: "#/components/parameters/ExchangePath"
       - $ref: "#/components/parameters/SymbolPath"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/security"
       '404':
         description: 'Указанный symbol не найден' 
     deprecated: false
     security: 
      - bearerAuth: []
       
  /md/v2/Securities/{symbols}/quotes:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       - Instruments
     summary: 'Получение информации о котировках для выбранных инструментов'
     description: 'Запрос информации о котировках для выбранных инструментов и бирж'
     operationId: DevQuotes
     parameters:
       - $ref: "#/components/parameters/SymbolsPath"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: 'OK'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/symbols"
     deprecated: false
     security: 
       - bearerAuth: []
  
  /md/v2/orderbooks/{exchange}/{seccode}:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       - Instruments
     summary: 'Получение информации о биржевом стакане'
     description: 'Запрос биржевого стакана'
     operationId: DevOrderbookExchangSeccode
     parameters:
       - $ref: "#/components/parameters/ExchangePath"
       - $ref: "#/components/parameters/SecCode"
       - $ref: "#/components/parameters/Depth"
       - $ref: "#/components/parameters/Format"
        
     responses:
       '200':
         description: 'OK'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orderbook"
     deprecated: false
     security: 
       - bearerAuth: []
  
  /md/v2/Securities/{exchange}/{symbol}/alltrades:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       - Instruments
      #- Warp.API.HTTP.Marketdata
     summary: 'Получение информации о всех сделках по ценным бумагам за сегодня'
     description: "Запросить данные о всех сделках (лента) по ценным бумагам за сегодняшний день"
     operationId: DevSecuritiesSearchAllTrades
     parameters:
       - $ref: "#/components/parameters/ExchangePath"
       - $ref: "#/components/parameters/SymbolPath"
       - $ref: "#/components/parameters/Format"
       - $ref: "#/components/parameters/DateFromSecQueryOptional"
       - $ref: "#/components/parameters/DateToSecQueryOptional"
       - $ref: "#/components/parameters/FromIdAllTrades"
       - $ref: "#/components/parameters/ToId"
       - $ref: "#/components/parameters/Take"
       - $ref: "#/components/parameters/Descending"
       - $ref: "#/components/parameters/IncludeVirtualTrades"
     responses:
       '200':
         description: 'OK'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/alltrades"
       '404':
        description: 'Указанный symbol не найден'
     deprecated: false
     security: 
      - bearerAuth: []
  
  /md/v2/Securities/{exchange}/{symbol}/alltrades/history:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       - Instruments
      #- Warp.API.HTTP.Marketdata
     summary: 'Получение исторической информации о всех сделках по ценным бумагам'
     description: "Запросить данные о сделках (лента) по ценным бумагам за исторический период (за текущий день сделки не отдаются)"
     operationId: DevSecuritiesSearchAllTradesHistory
     parameters:
       - $ref: "#/components/parameters/ExchangePath"
       - $ref: "#/components/parameters/SymbolPath"
       - $ref: "#/components/parameters/DateFromSecQueryOptional"
       - $ref: "#/components/parameters/DateToSecQueryOptional"
       - $ref: "#/components/parameters/LimitQueryMax50000"
       - $ref: "#/components/parameters/Offset"
     responses:
       '200':
         description: 'OK'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/alltradeshistory"
       '404':
        description: 'Указанный symbol не найден'
     deprecated: false
     security: 
      - bearerAuth: []
      
  /md/v2/Securities/{exchange}/{symbol}/actualFuturesQuote:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       - Instruments
     summary: 'Получение котировки по ближайшему фьючерсу (код)'
     description: 'Запрос котировки по ближайшему фьючерсу (только по коду, без даты)'
     operationId: DevSecuritiesFutures
     parameters:
       - $ref: "#/components/parameters/ExchangePathMoexOnly"
       - $ref: "#/components/parameters/SymbolPath"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/symbol_futures"
       '404':
        description: 'Указанный symbol не найден'
     deprecated: false
     security: 
      - bearerAuth: []
  
  /md/v2/time:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       - Other
     summary: 'Запрос текущего UTC времени в формате Unix'
     description: 'Запрос текущего UTC времени в формате Unix Time Seconds. Если этот запрос выполнен без авторизации, то будет возвращено время, которое было 15 минут назад.' 
     operationId: LocalTime
     responses:
       '200':
         description: 'OK'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/time"
     deprecated: false
     security: 
       - bearerAuth: []

  /md/v2/risk/rates:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       - Instruments
     summary: 'Запрос ставок риска'
     description: 'Получение ставок риска для маржинальной торговли.' 
     operationId: RiskRates
     parameters:
       - $ref: "#/components/parameters/ExchangeQuery"
       - $ref: "#/components/parameters/TickerQuery"
       - $ref: "#/components/parameters/RiskCategoryId"
       - $ref: "#/components/parameters/Search"
     responses:
       '200':
         description: 'OK'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/riskRates"
     deprecated: false
     security: 
       - bearerAuth: []
  
  /md/v2/history:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       - Instruments
     summary: 'Запрос истории для выбранных биржи и инструмента'
     description: 'Запрос истории рынка для выбранных биржи и финансового инструмента. Данные имеют задержку в 15 минут, если запрос не авторизован. Для авторизованных клиентов задержка не применяется.'
     operationId: DevHistory
     parameters:
       - $ref: "#/components/parameters/SymbolQuery"
       - $ref: "#/components/parameters/ExchangeQuery"
       - $ref: "#/components/parameters/TimeFrame"
       - $ref: "#/components/parameters/DateFromSecQuery"
       - $ref: "#/components/parameters/DateToSecQuery"
       - $ref: "#/components/parameters/Untraded"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/history"
       '404':
        description: 'Указанный symbol не найден'
     deprecated: false
     security: 
       - bearerAuth: []


  /commandapi/warptrans/TRADE/v2/client/orders/actions/market:
    post: 
      tags: 
        - Orders
      summary: "Создание рыночной заявки"
      description: ""
      operationId: "CommandAPI /v2/client/orders/actions/market"
      requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsMarketTV'
      parameters:
        - $ref: "#/components/parameters/X-ALOR-REQID"

      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_LimitMarket_CommandAPI"
        '400':
          description: 'Bad request' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_400_CommandAPI"
      deprecated: false
      security: 
        - bearerAuth: []
  
  /commandapi/warptrans/TRADE/v2/client/orders/actions/limit:
    post: 
      tags: 
        - Orders
      summary: "Создание лимитной заявки"
      description: ""
      operationId: "CommandAPI /v2/client/orders/actions/limit"
      requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsLimitTV'
      parameters:
        - $ref: "#/components/parameters/X-ALOR-REQID"
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_LimitMarket_CommandAPI"
        '400':
          description: 'Bad request' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_400_CommandAPI"
      deprecated: false
      security: 
        - bearerAuth: []
  
  
  /warptrans/{tradeServerCode}/v2/client/orders/actions/stopLoss:
   post: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      - Deprecated
      #-  "Warp.ATConnector"
     summary: "Создание стоп-лосс заявки"
     description: ""
     operationId: "/v2/client/orders/actions/stopLoss"
     requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStop'
              # верно, тело совпадает со stop.
     parameters:
       - $ref: "#/components/parameters/X-ALOR-REQID"
       - $ref: "#/components/parameters/TradeServerCode"
     responses: 
       '400':
         description: 'Bad request' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_400"
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_StopProfitLoss"
     deprecated: true
     security: 
       - bearerAuth: []

  /warptrans/{tradeServerCode}/v2/client/orders/actions/takeProfit:
   post: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      - Deprecated
      #-  "Warp.ATConnector"
     summary: "Создание стоп-заявки"
     description: ""
     operationId: "/v2/client/orders/actions/takeProfit"
     requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStop'
              # верно, тело совпадает со stop.
     parameters:
       - $ref: "#/components/parameters/X-ALOR-REQID"
       - $ref: "#/components/parameters/TradeServerCode"
     responses: 
       '400':
         description: 'Bad request' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_400"
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_StopProfitLoss"
     deprecated: true
     security: 
       - bearerAuth: []

  /warptrans/{tradeServerCode}/v2/client/orders/actions/takeProfitLimit:
   post: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      - Deprecated
      #-  "Warp.ATConvertor"
     summary: "Создание стоп-лимит заявки"
     description: ""
     operationId: "/v2/client/orders/actions/takeProfitLimit"
     requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStoplimit'
              #верно, тело совпадает с stoplimit
     parameters:
       - $ref: "#/components/parameters/X-ALOR-REQID"
       - $ref: "#/components/parameters/TradeServerCode"
     responses: 
       '400':
         description: 'Bad request' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_400"
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_StopProfitLoss"
     deprecated: true
     security: 
       - bearerAuth: []

  /warptrans/{tradeServerCode}/v2/client/orders/actions/stopLossLimit:
   post: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      - Deprecated
      #-  "Warp.ATConvertor"
     summary: "Создание стоп-лосс лимит заявки"
     description: "Создание стоп-лосс лимит заявки"
     operationId: "/v2/client/orders/actions/stopLossLimit"
     requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStoplimit'
              #верно, тело совпадает с stoplimit
     parameters:
       - $ref: "#/components/parameters/X-ALOR-REQID"
       - $ref: "#/components/parameters/TradeServerCode"
     responses: 
       '400':
         description: 'Bad request' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_400"
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_StopProfitLoss"
     deprecated: true
     security: 
       - bearerAuth: []
  
  /warptrans/{tradeServerCode}/v2/client/orders/actions/stopLoss/{orderId}:
    #не совпадают виды запросов(путь) в postman и в visualstudio
    #здесь описан путь в соответствии с кодом в visualstudio
   put: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      - Deprecated
      #-  "Warp.ATConvertor"
     summary: "Изменение стоп-лосс заявки"
     description: "Изменение стоп-лосс заявки с указанным номером"
     operationId: "/v2/client/orders/actions/stopLoss/{orderId}"
     requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStop'
              # верно, тело совпадает со stop.
     parameters:
       - $ref: "#/components/parameters/X-ALOR-REQID"
       - $ref: "#/components/parameters/TradeServerCode"
       - $ref: "#/components/parameters/OrderId"
     responses: 
       '400':
         description: 'Bad request'
         content:
           string:
             schema:
               type: string
               example: 'Attempted to change non-owned order'
               description: 'Получено некорректное значение для X-ALOR-REQID или номера заявки'
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_StopProfitLoss"
     deprecated: true
     security: 
       - bearerAuth: []

  /warptrans/{tradeServerCode}/v2/client/orders/actions/takeProfit/{orderId}:
   put: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      - Deprecated
      #-  "Warp.ATConvertor"
     summary: "Изменение стоп-заявки"
     description: "Изменение стоп-заявки с указанным номером"
     operationId: "/v2/client/orders/actions/takeProfit/{orderId}"
     requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStop'
              # верно, тело совпадает со stop.
     parameters:
       - $ref: "#/components/parameters/X-ALOR-REQID"
       - $ref: "#/components/parameters/TradeServerCode"
       - $ref: "#/components/parameters/OrderId"
     responses: 
       '400':
         description: 'Bad request'
         content:
           string:
             schema:
               type: string
               example: 'Attempted to change non-owned order'
               description: 'Получено некорректное значение для X-ALOR-REQID или номера заявки'
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_StopProfitLoss"
     deprecated: true
     security: 
       - bearerAuth: []

  /warptrans/{tradeServerCode}/v2/client/orders/actions/takeProfitLimit/{orderId}:
   put: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      - Deprecated
      #-  "Warp.ATConvertor"
     summary: "Изменение стоп-лимит заявки"
     description: "Изменение стоп-лимит заявки с указанным номером"
     operationId: "/v2/client/orders/actions/takeProfitLimit/{orderId}"
     requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStoplimit'
              #верно, тело совпадает с stoplimit
     parameters:
       - $ref: "#/components/parameters/X-ALOR-REQID"
       - $ref: "#/components/parameters/TradeServerCode"
       - $ref: "#/components/parameters/OrderId"
     responses: 
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_StopProfitLoss"
       '400':
         description: 'Bad request'
         content:
           string:
             schema:
               type: string
               example: 'Attempted to change non-owned order'
               description: 'Получено некорректное значение для X-ALOR-REQID или номера заявки'
     deprecated: true
     security: 
       - bearerAuth: []

  /warptrans/{tradeServerCode}/v2/client/orders/actions/stopLossLimit/{orderId}:
   put: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      - Deprecated
      #-  "Warp.ATConvertor"
     summary: "Изменение стоп-лосс лимит заявки"
     description: "Изменение стоп-лосс лимит заявки с указанным номером"
     operationId: "/v2/client/orders/actions/stopLossLimit/{orderId}"
     #в коде stopLossLimit потерялся, зато есть два takeProfitLimit
     requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStoplimit'
              #верно, тело совпадает с stoplimit
     parameters:
       - $ref: "#/components/parameters/X-ALOR-REQID"
       - $ref: "#/components/parameters/TradeServerCode"
       - $ref: "#/components/parameters/OrderId"
     responses: 
       '400':
         description: 'Bad request'
         content:
           string:
             schema:
               type: string
               example: 'Attempted to change non-owned order'
               description: 'Получено некорректное значение для X-ALOR-REQID или номера заявки'
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_StopProfitLoss"
     deprecated: true
     security: 
       - bearerAuth: []

  

  /commandapi/warptrans/TRADE/v2/client/orders/actions/market/{orderId}:
    put: 
      tags: 
        - Orders
      summary: "Изменение рыночной заявки"
      description: ""
      operationId: "CommandAPI /v2/client/orders/actions/marketput"
      requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsMarketTVput'
      parameters:
        - $ref: "#/components/parameters/X-ALOR-REQID"
        - $ref: "#/components/parameters/OrderId"
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_LimitMarket"
      deprecated: false
      security: 
        - bearerAuth: []
  
  /commandapi/warptrans/TRADE/v2/client/orders/actions/limit/{orderId}:
    put: 
      tags: 
        - Orders
      summary: "Изменение лимитной заявки"
      description: ""
      operationId: "CommandAPI /v2/client/orders/actions/limitput"
      requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsLimitTVput'
      parameters:
        - $ref: "#/components/parameters/X-ALOR-REQID"
        - $ref: "#/components/parameters/OrderId"
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_LimitMarket"
      deprecated: false
      security: 
        - bearerAuth: []


  /commandapi/warptrans/TRADE/v2/client/orders/{orderId}:
    delete: 
      tags: 
        - Orders
      summary: "Снятие заявки"
      description: "Снятие заявки с указанным идентификатором"
      operationId: "CommandAPI /v2/client/orders/delete"
      parameters:
        - $ref: "#/components/parameters/OrderId"
        - $ref: "#/components/parameters/PortfolioQuery"
        - $ref: "#/components/parameters/ExchangeQueryMoexOnly"
        - $ref: "#/components/parameters/Stop"
        - $ref: "#/components/parameters/JsonResponse"
        - $ref: "#/components/parameters/Format"
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/commandapiSuccessResponse"
        '400':
         description: 'Bad request'
         content:
          application/json:
            schema:          
                type: object
                properties:
                  "code":
                    type: string
                    example: "OrderToCancelNotFound (404)"
                    description: 'Тип ошибки'
                  "message":
                    type: string
                    example: "Order to cancel not found"
                    description: 'Описание ошибки'
      deprecated: false
      security: 
        - bearerAuth: []

  /warptrans/{tradeServerCode}/v2/client/orders/{orderId}:
    #не совпадают виды запросов(путь) в postman и в visualstudio
    #здесь описан путь в соответствии с кодом в visualstudio
   delete: 
     tags: 
      - Deprecated
      #-  "Warp.ATConvertor"
     summary: "Снятие стоп-заявки"
     description: "Снятие стоп-заявки с указанным идентификатором"
     operationId: '/v2/client/orders/actions/{orderId}'
     parameters:
       - $ref: "#/components/parameters/X-ALOR-REQID"
       - $ref: "#/components/parameters/TradeServerCode"
       - $ref: "#/components/parameters/OrderId"
       - $ref: "#/components/parameters/PortfolioQuery"
       - $ref: "#/components/parameters/Stop"
     responses: 
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_DeleteOrderId"
       '400':
         description: 'Bad request'
         content:
           string:
             schema:
               type: string
               example: 'Attempted to change non-owned order'
               description: 'Получено некорректное значение для X-ALOR-REQID или номера заявки'
     deprecated: true
     security: 
       - bearerAuth: []
  /commandapi/warptrans/TRADE/v2/client/orders/estimate:
    post:
      tags:
        - Orders
      summary: Провести оценку одной заявки
      operationId: '/v2/client/orders/actions/estimate'
      requestBody:
        description: Параметры заявки
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/estimateOrderViewModel'
          application/json:
            schema:
              $ref: '#/components/schemas/estimateOrderViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/estimateOrderViewModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/estimateOrderViewModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/estimateOrderModel'
            application/json:
              schema:
                $ref: '#/components/schemas/estimateOrderModel'
            text/json:
              schema:
                $ref: '#/components/schemas/estimateOrderModel'
      security: 
       - bearerAuth: []
  /commandapi/warptrans/TRADE/v2/client/orders/estimate/all:
    post:
      tags:
        - Orders
      summary: Провести оценку нескольких заявок
      operationId: '/v2/client/orders/actions/estimate/all'
      requestBody:
        description: Список параметров заявок
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/estimateOrderViewModel'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/estimateOrderViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/estimateOrderViewModel'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/estimateOrderViewModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/estimateOrderModel'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/estimateOrderModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/estimateOrderModel'
      security: 
       - bearerAuth: []


  "/ws               ":
   trace:
     tags:
       - Subscriptions
     summary: 'WebSocket подписка на "биржевой стакан"'
     description: |
      **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br>
       Подписка на информацию о биржевом стакане для выбранных биржи и финансового инструмента.<br>
       Поддерживаются только авторизованные запросы.
     operationId: WS_prod_OrderBook
     requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ws_req_OrderBookGetAndSubscribe"
     responses:
       '200':
         description: 'Сообщение о результатах подписки'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/ws_res_HandledSuccessfully"
       '100':
         description: 'В качестве ответа приходят объекты как в этой схеме'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/ws_res_OrderBookGetAndSubscribe"
     deprecated: false
     security: []
     servers:
        - url: 'wss://apidev.alor.ru/ws'
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          variables: {}
  "/ws              ":
   trace:
     tags:
       - Subscriptions
     summary: 'WebSocket подписка на историю цен (свечи)'
     description: |
      **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на историю цен (свечи) для выбранных биржи и финансового инструмента. 
     operationId: WS_prod_BarsGet 
     requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ws_req_BarsGetAndSubscribe"
     responses:
       '200':
         description: 'Сообщение о результатах подписки'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/ws_res_HandledSuccessfully"
       '100':
         description: 'В качестве ответа приходят объекты как в этой схеме'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/ws_res_BarsGetAndSubscribe"
     deprecated: false
     security: []
     servers:
        - url: 'wss://apidev.alor.ru/ws'
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          variables: {}

  "/ws             ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на информацию о котировках'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о котировках для выбранных инструментов и бирж.
      operationId: WS_prod_QuotesSubscribe
      requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_req_QuotesSubscribe"
      responses:
        '200':
          description: 'Сообщение о результатах подписки'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_HandledSuccessfully"
        '100':
          description: 'В качестве ответа приходят объекты как в этой схеме'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_QuotesSubscribe"
      deprecated: false
      security: []
      servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}
  "/ws                    ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на все сделки'
      description: |
          **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о всех сделках.
      operationId: WS_prod_AllTradesGetAndSubscribe
      requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_req_AllTradesGetAndSubscribe"
      responses:
        '200':
          description: 'Сообщение о результатах подписки'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_HandledSuccessfully"
        '100':
          description: 'В качестве ответа приходят объекты как в этой схеме'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/alltrades"
      deprecated: false
      security: []
      servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}
  "/ws            ":
      trace:
        tags:
          - Subscriptions
        summary: 'WebSocket подписка на информацию о текущих позициях по торговым инструментам и деньгам'
        description: |
          **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о текущих позициях по ценным бумагам и деньгам. 
        operationId: WS_prod_PositionsSubscribe
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_req_PositionsGetAndSubscribe"
        responses:
          '200':
            description: 'Сообщение о результатах подписки'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_HandledSuccessfully"
          '100':
            description: 'В качестве ответа приходят объекты как в этой схеме'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_PositionsGetAndSubscribe"
        deprecated: false
        security: []
        servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}
  "/ws          ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на сводную информацию по портфелю'
      description: |
          **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на сводную информацию по портфелю.
      operationId: WS_prod_SummariesGetAndSubscribeV2
      requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_req_SummariesGetAndSubscribeV2'
      responses:
        '200':
          description: 'Сообщение о результатах подписки'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_HandledSuccessfully"
        '100':
          description: 'В качестве ответа приходят объекты как в этой схеме'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_SummariesGetAndSubscribeV2"
      deprecated: false
      security: []
      servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}

  "/ws                ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на информацию по портфельным рискам'
      description: |
          **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на сводную информацию по портфельным рискам.
      operationId: WS_prod_RisksGetAndSubscribe
      requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_req_RisksGetAndSubscribe'
      responses:
        '200':
          description: 'Сообщение о результатах подписки'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_HandledSuccessfully"
        '100':
          description: 'В качестве ответа приходят объекты как в этой схеме'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_RisksGetAndSubscribe"
      deprecated: false
      security: []
      servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}

  "/ws                  ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на информацию по рискам срочного рынка (FORTS)'
      description: |
          **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию по рискам срочного рынка (FORTS).
      operationId: WS_prod_SpectraRisksGetAndSubscribe
      requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_req_SpectraRisksGetAndSubscribe'
      responses:
        '200':
          description: 'Сообщение о результатах подписки'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_HandledSuccessfully"
        '100':
          description: 'В качестве ответа приходят объекты как в этой схеме'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_SpectraRisksGetAndSubscribe"
      deprecated: false
      security: []
      servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}

  "/ws           ":
    trace:
      tags:
        - Subscriptions
      summary: 'WebSocket подписка на сделки'
      description: |
          **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о сделках.
      operationId: WS_prod_TradesSubscribe
      requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_req_TradesGetAndSubscribe"
      responses:
        '200':
          description: 'Сообщение о результатах подписки'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_HandledSuccessfully"
        '100':
          description: 'В качестве ответа приходят объекты как в этой схеме'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_TradesGetAndSubscribe"
      deprecated: false
      security: []
      servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}
  "/ws         ":
    trace:
        tags:
          - Deprecated
        summary: 'WebSocket подписка на информацию о стоп-заявках'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о текущих заявках на рынке для выбранных биржи и финансового инструмента.
        operationId: WS_prod_StopOrdersSubscribe
        requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_req_StopOrdersGetAndSubscribe'
        responses:
          '200':
            description: 'Сообщение о результатах подписки'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_HandledSuccessfully"
          '100':
            description: 'В качестве ответа приходят объекты как в этой схеме'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_StopOrdersGetAndSubscribe"
        deprecated: true
        security: []
        servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}
 
  "/ws                 ":
    trace:
        tags:
          - Subscriptions
        summary: 'WebSocket подписка на информацию о заявках'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о текущих заявках на рынке для выбранных биржи и финансового инструмента.
        operationId: WS_prod_OrdersSubscribe
        requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_req_OrdersGetAndSubscribe'
        responses:
          '200':
            description: 'Сообщение о результатах подписки'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_HandledSuccessfully"
          '100':
            description: 'В качестве ответа приходят объекты как в этой схеме'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_OrdersGetAndSubscribe"
        deprecated: false
        security: []
        servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}
  "/ws                     ":
    trace:
        tags:
          - Subscriptions
        summary: 'WebSocket подписка на изменение информации о финансовых инструментах'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на изменение информации о финансовых инструментах на выбранной бирже.
        operationId: WS_prod_InstrumentsGetAndSubscribeV2
        requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_req_InstrumentsGetAndSubscribeV2'
        responses:
          '200':
            description: 'Сообщение о результатах подписки'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_HandledSuccessfully"
          '100':
            description: 'В качестве ответа приходят объекты как в этой схеме (только поля, которые изменились). Запросить текущие состояние по всем полям возможно через вызовы группы /securities'
            content:
              application/json:
                examples:
                  sample1:
                    value:
                      priceMax: 104.3
                      priceMin: 100
                      marginbuy: 110
                      marginsell: 80
                      tradingStatus: 17
                      tradingStatusInfo: 'нормальный период торгов'
                      theorPrice: 0.0
                      theorPriceLimit: 0.0
                      volatility: 0.0
                  sample2:
                    value:
                      priceMax: 105.3
                      priceMin: 99
                  sample3:
                    value:
                      tradingStatus: 18
                      tradingStatusInfo: 'нет торгов или торги закрыты'
        deprecated: false
        security: []
        servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}
  "/ws        ":
    trace:
        tags:
          - Subscriptions
        summary: 'WebSocket отмена существующей подписки'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).
        operationId: WS_prod_Unsubscribe
        requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_req_Unsubscribe'
        responses:
          '200':
            description: 'Сообщение о результатах подписки'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_HandledSuccessfully"
        deprecated: false
        security: []
        servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}
  /md/v2/clients/{exchange}/{portfolio}/stoporders:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       - ClientInfo
       - StopOrdersV2
     summary: 'Получение информации о стоп-заявках'
     description: "Запрос информации о всех стоп-заявках"
     operationId: DevGetAllStopOrders
     parameters:
       - $ref: "#/components/parameters/ExchangePath"
       - $ref: "#/components/parameters/PortfolioPath"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/stopordersWarp"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio' 
     deprecated: false
     security: 
       - bearerAuth: []
  /md/v2/clients/{exchange}/{portfolio}/stoporders/{orderId}:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      - ClientInfo
      - StopOrdersV2
     summary: 'Получение информации о выбранной стоп-заявке'
     description: "Запрос информации о выбранной стоп-заявке"
     operationId: DevGetOneStopOrder
     parameters:
       - $ref: "#/components/parameters/ExchangePath"
       - $ref: "#/components/parameters/PortfolioPath"
       - $ref: "#/components/parameters/OrderId"
       - $ref: "#/components/parameters/Format"
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/stoporderWarp"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio' 
       '404': 
          description: 'Указанный orderId не найден'
     deprecated: false
     security: 
       - bearerAuth: []
  /commandapi/warptrans/TRADE/v2/client/orders/actions/stopLimit:
    post: 
      tags: 
        - StopOrdersV2
      summary: "Создание стоп-лимитной заявки"
      description: ""
      operationId: "CommandAPI /v2/client/orders/actions/stopLimit"
      requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStopLimitTVWarp'
      parameters:
        - $ref: "#/components/parameters/X-ALOR-REQID"
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_LimitMarket_CommandAPI"
        '400':
          description: 'Bad request' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_400_CommandAPI"
      deprecated: false
      security: 
        - bearerAuth: []

  /commandapi/warptrans/TRADE/v2/client/orders/actions/stop:
    post: 
      tags: 
        - StopOrdersV2
      summary: "Создание стоп-заявки"
      description: ""
      operationId: "CommandAPI /v2/client/orders/actions/stop"
      requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStopMarketTVWarp'
      parameters:
        - $ref: "#/components/parameters/X-ALOR-REQID"
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_LimitMarket_CommandAPI"
        '400':
          description: 'Bad request' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_400_CommandAPI"
      deprecated: false
      security: 
        - bearerAuth: []

  /commandapi/warptrans/TRADE/v2/client/orders/actions/stop/{stopOrderId}:
    put:
      tags: 
        - StopOrdersV2
      summary: "Изменение стоп-заявки"
      description: "Изменение стоп-заявки"
      operationId: "CommandAPI /v2/client/orders/actions/stop/{stopOrderId}"
      requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStopMarketTVWarp'
      parameters:
        - $ref: "#/components/parameters/X-ALOR-REQID"
        - $ref: "#/components/parameters/StopOrderId"
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_LimitMarket_CommandAPI"
        '400':
          description: 'Bad request' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_400_CommandAPI"
      deprecated: false
      security: 
        - bearerAuth: []

  /commandapi/warptrans/TRADE/v2/client/orders/actions/stopLimit/{stopOrderId}:
    put:
      tags: 
        - StopOrdersV2
      summary: "Изменение стоп-лимитной заявки"
      description: "Изменение стоп-лимитной заявки"
      operationId: "CommandAPI /v2/client/orders/actions/stopLimit/{stopOrderId}"
      requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStopLimitTVWarp'
      parameters:
        - $ref: "#/components/parameters/X-ALOR-REQID"
        - $ref: "#/components/parameters/StopOrderId"
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_LimitMarket_CommandAPI"
        '400':
          description: 'Bad request' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_400_CommandAPI"
      deprecated: false
      security: 
        - bearerAuth: []

  /commandapi/warptrans/TRADE/v2/client/orders/{orderId}/:
    delete: 
      tags: 
        - StopOrdersV2
      summary: "Снятие заявки"
      description: "Снятие заявки с указанным идентификатором"
      operationId: "CommandAPIWarp /v2/client/orders/delete"
      parameters:
        - $ref: "#/components/parameters/OrderId"
        - $ref: "#/components/parameters/PortfolioQuery"
        - $ref: "#/components/parameters/ExchangeQueryMoexOnly"
        - $ref: "#/components/parameters/Stop"
        - $ref: "#/components/parameters/JsonResponse"
        - $ref: "#/components/parameters/Format"
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/commandapiSuccessResponse"
        '400':
         description: 'Bad request'
         content:
          application/json:
            schema:          
                type: object
                properties:
                  "code":
                    type: string
                    example: "OrderToCancelNotFound (404)"
                    description: 'Тип ошибки'
                  "message":
                    type: string
                    example: "Order to cancel not found"
                    description: 'Описание ошибки'
      deprecated: false
      security: 
        - bearerAuth: []

  "/ws                   ":
    trace:
        tags:
          - Subscriptions
        summary: 'WebSocket подписка на информацию о стоп-заявках'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о текущих заявках на рынке для выбранных биржи и финансового инструмента.
        operationId: WS_prod_StopOrdersSubscribeV2
        requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_req_StopOrdersGetAndSubscribeV2'
        responses:
          '200':
            description: 'Сообщение о результатах подписки'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_HandledSuccessfully"
          '100':
            description: 'В качестве ответа приходят объекты как в этой схеме'
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_res_StopOrdersGetAndSubscribeWarp'
        deprecated: false
        security: []
        servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}

  "/cws                 ":
    trace:
        tags:
          -  OrdersWebSocket
        summary: 'Авторизация'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        operationId: WS_authorize
        requestBody:
           required: true
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/commandws_req_Authorize"
        responses: 
          '200':
            description: 'OK' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_Authorize"
          '400':
            description: 'Bad request' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_badrequest"
        deprecated: false
        security: []
        servers:
           - url: 'wss://apidev.alor.ru/cws'
             variables: {}
           - url: 'wss://api.alor.ru/cws'
             variables: {}
  "/cws               ":
    trace:
        tags:
          -  OrdersWebSocket
        summary: 'Создание рыночной заявки'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        operationId: WS_create_market
        requestBody:
           required: true
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/commandws_req_CreateMarketOrder"
        responses: 
          '200':
            description: 'OK' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_HandledSuccessfully"
          '400':
            description: 'Bad request' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_badrequest"
        deprecated: false
        security: []
        servers:
           - url: 'wss://apidev.alor.ru/cws'
             variables: {}
           - url: 'wss://api.alor.ru/cws'
             variables: {}
  "/cws              ":
    trace:
        tags:
          -  OrdersWebSocket
        summary: 'Создание лимитной заявки'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        operationId: WS_create_limit
        requestBody:
           required: true
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/commandws_req_CreateLimitOrder"
        responses: 
          '200':
            description: 'OK' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_HandledSuccessfully"
          '400':
            description: 'Bad request' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_badrequest"
        deprecated: false
        security: []
        servers:
           - url: 'wss://apidev.alor.ru/cws'
             variables: {}
           - url: 'wss://api.alor.ru/cws'
             variables: {}
  "/cws             ":
    trace:
        tags:
          -  OrdersWebSocket
        summary: 'Создание стоп-заявки'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        operationId: WS_create_stop
        requestBody:
           required: true
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/commandws_req_CreateStopOrder"
        responses: 
          '200':
            description: 'OK' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_HandledSuccessfully"
          '400':
            description: 'Bad request' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_badrequest"
        deprecated: false
        security: []
        servers:
           - url: 'wss://apidev.alor.ru/cws'
             variables: {}
           - url: 'wss://api.alor.ru/cws'
             variables: {}
  "/cws            ":
    trace:
        tags:
          -  OrdersWebSocket
        summary: 'Создание стоп-лимитной заявки'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        operationId: WS_create_stoplimit
        requestBody:
           required: true
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/commandws_req_CreateStopLimitOrder"
        responses: 
          '200':
            description: 'OK' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_HandledSuccessfully"
          '400':
            description: 'Bad request' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_badrequest"
        deprecated: false
        security: []
        servers:
           - url: 'wss://apidev.alor.ru/cws'
             variables: {}
           - url: 'wss://api.alor.ru/cws'
             variables: {}
  "/cws           ":
    trace:
        tags:
          -  OrdersWebSocket
        summary: 'Изменение рыночной заявки'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        operationId: WS_update_market
        requestBody:
           required: true
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/commandws_req_UpdateMarketOrder"
        responses: 
          '200':
            description: 'OK' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_HandledSuccessfully"
          '400':
            description: 'Bad request' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_badrequest"
        deprecated: false
        security: []
        servers:
           - url: 'wss://apidev.alor.ru/cws'
             variables: {}
           - url: 'wss://api.alor.ru/cws'
             variables: {}
  "/cws          ":
    trace:
        tags:
          -  OrdersWebSocket
        summary: 'Изменение лимитной заявки'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        operationId: WS_update_limit
        requestBody:
           required: true
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/commandws_req_UpdateLimitOrder"
        responses: 
          '200':
            description: 'OK' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_HandledSuccessfully"
          '400':
            description: 'Bad request' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_badrequest"
        deprecated: false
        security: []
        servers:
           - url: 'wss://apidev.alor.ru/cws'
             variables: {}
           - url: 'wss://api.alor.ru/cws'
             variables: {}
  "/cws         ":
    trace:
        tags:
          -  OrdersWebSocket
        summary: 'Изменение стоп-заявки'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        operationId: WS_update_stop
        requestBody:
           required: true
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/commandws_req_UpdateStopOrder"
        responses: 
          '200':
            description: 'OK' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_HandledSuccessfully"
          '400':
            description: 'Bad request' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_badrequest"
        deprecated: false
        security: []
        servers:
           - url: 'wss://apidev.alor.ru/cws'
             variables: {}
           - url: 'wss://api.alor.ru/cws'
             variables: {}
  "/cws        ":
    trace:
        tags:
          -  OrdersWebSocket
        summary: 'Изменение стоп-лимитной заявки'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        operationId: WS_update_stoplimit
        requestBody:
           required: true
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/commandws_req_UpdateStopLimitOrder"
        responses: 
          '200':
            description: 'OK' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_HandledSuccessfully"
          '400':
            description: 'Bad request' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_badrequest"
        deprecated: false
        security: []
        servers:
           - url: 'wss://apidev.alor.ru/cws'
             variables: {}
           - url: 'wss://api.alor.ru/cws'
             variables: {}
  "/cws       ":
    trace:
        tags:
          -  OrdersWebSocket
        summary: 'Снятие рыночной заявки'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        operationId: WS_delete_market
        requestBody:
           required: true
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/commandws_req_DeleteMarketOrder"
        responses: 
          '200':
            description: 'OK' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_HandledSuccessfully"
          '400':
            description: 'Bad request' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_badrequest"
        deprecated: false
        security: []
        servers:
           - url: 'wss://apidev.alor.ru/cws'
             variables: {}
           - url: 'wss://api.alor.ru/cws'
             variables: {}
  "/cws      ":
    trace:
        tags:
          -  OrdersWebSocket
        summary: 'Снятие лимитной заявки'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        operationId: WS_delete_limit
        requestBody:
           required: true
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/commandws_req_DeleteLimitOrder"
        responses: 
          '200':
            description: 'OK' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_HandledSuccessfully"
          '400':
            description: 'Bad request' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_badrequest"
        deprecated: false
        security: []
        servers:
           - url: 'wss://apidev.alor.ru/cws'
             variables: {}
           - url: 'wss://api.alor.ru/cws'
             variables: {}
  "/cws     ":
    trace:
        tags:
          -  OrdersWebSocket
        summary: 'Снятие стоп-заявки'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        operationId: WS_delete_stop
        requestBody:
           required: true
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/commandws_req_DeleteStopOrder"
        responses: 
          '200':
            description: 'OK' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_HandledSuccessfully"
          '400':
            description: 'Bad request' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_badrequest"
        deprecated: false
        security: []
        servers:
           - url: 'wss://apidev.alor.ru/cws'
             variables: {}
           - url: 'wss://api.alor.ru/cws'
             variables: {}
  "/cws    ":
    trace:
        tags:
          -  OrdersWebSocket
        summary: 'Снятие стоп-лимитной заявки'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/cws` (бой) или `wss://apidev.alor.ru/cws` (тест).
        operationId: WS_delete_stoplimit
        requestBody:
           required: true
           content:
             application/json:
               schema:
                 $ref: "#/components/schemas/commandws_req_DeleteStopLimitOrder"
        responses: 
          '200':
            description: 'OK' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_HandledSuccessfully"
          '400':
            description: 'Bad request' 
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/commandws_res_badrequest"
        deprecated: false
        security: []
        servers:
           - url: 'wss://apidev.alor.ru/cws'
             variables: {}
           - url: 'wss://api.alor.ru/cws'
             variables: {}
  /commandapi/api/orderGroups:
    get:
      tags:
        - OrderGroups
      summary: Получение всех групп заявок
      operationId: GetOrderGroups
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ordergroups_actions_GetOrderGroup"
        '400':
         description: 'Bad request'
         content:
          application/json:
            schema:
              $ref: "#/components/schemas/commandapiOrderGroupsErrorResponse"
      deprecated: false
      security: 
        - bearerAuth: []
    post:
      tags: 
        - OrderGroups
      summary: Создание группы заявок
      description: Создание группы заявок на основе уже созданных заявок
      operationId: CreateOrderGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_CreateOrderGroup'
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                type: string
                format: uuid
                description: Идентификатор только что созданной группы
                example: eafb19d6-c578-4afe-aa95-d528c4531031
        '400':
         description: 'Bad request'
         content:
          application/json:
            schema:          
              $ref: "#/components/schemas/commandapiOrderGroupsErrorResponse"
      deprecated: false
      security: 
        - bearerAuth: []
    

  /commandapi/api/orderGroups/{orderGroupId}:
    get:
      tags:
        - OrderGroups
      summary: Получение информации о группе заявок
      operationId: GetOrderGroup
      parameters:
        - in: path
          name: orderGroupId
          required: true
          example: eafb19d6-c578-4afe-aa95-d528c4531031
          schema:
            type: string
            format: uuid
          description: Идентификатор группы заявок
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ordergroups_actions_GetOrderGroup"
        '400':
         description: 'Bad request'
         content:
          application/json:
            schema:          
              $ref: "#/components/schemas/commandapiOrderGroupsErrorResponse"
      deprecated: false
      security: 
        - bearerAuth: []
    put:
      tags: 
        - OrderGroups
      summary: Редактирование группы заявок
      description: Редактирование группы заявок (связывание новых заявок, изменение типа связи)
      operationId: ModifyOrderGroup
      parameters:
        - in: path
          name: orderGroupId
          required: true
          example: eafb19d6-c578-4afe-aa95-d528c4531031
          schema:
            type: string
            format: uuid
          description: Идентификатор группы заявок
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_ModifyOrderGroup'
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/commandapiSuccessResponse"
        '400':
         description: 'Bad request'
         content:
          application/json:
            schema:          
              $ref: "#/components/schemas/commandapiOrderGroupsErrorResponse"
      deprecated: false
      security: 
        - bearerAuth: []
    delete:
      tags: 
        - OrderGroups
      summary: Удаление группы заявок
      operationId: DeleteOrderGroup
      parameters:
        - in: path
          name: orderGroupId
          required: true
          example: eafb19d6-c578-4afe-aa95-d528c4531031
          schema:
            type: string
            format: uuid
          description: Идентификатор группы заявок
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/commandapiSuccessResponse"
        '400':
         description: 'Bad request'
         content:
          application/json:
            schema:          
              $ref: "#/components/schemas/commandapiOrderGroupsErrorResponse"
      deprecated: false
      security: 
        - bearerAuth: []




components:
  securitySchemes:
    bearerAuth: 
      type: http
      scheme: bearer
      bearerFormat: JWT #Токен из OAuth
  parameters:
    X-ALOR-REQID:
      name: X-ALOR-REQID
      in: header
      description: 'Требуется уникальная случайная строка в качестве идентификатора запроса. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на первый запрос с таким значением идентификатора'
      required: true
      schema:
        type: string
      example: "9823-616stn"

    ExchangePath:
      name: 'exchange'
      in: path
      description: 'Биржа'
      required: true
      schema:
        description: > 
          Биржа:
            * `MOEX` - Московская биржа
            * `SPBX` - СПБ Биржа
        type: string
        enum:
          - MOEX
          - SPBX
    ExchangePathMoexOnly:
      name: 'exchange'
      in: path
      description: 'Биржа'
      required: true
      schema:
        description: > 
          Биржа:
            * `MOEX` - Московская биржа
        type: string
        enum:
          - MOEX
    ExchangeQueryOptional:
      name: exchange
      in: query
      description: 'Биржа'
      required: false
      schema:
        description: > 
          Биржа:
            * `MOEX` - Московская биржа
            * `SPBX` - СПБ Биржа
        type: string
        enum:
          - MOEX
          - SPBX
    ExchangeQuery:
      name: exchange
      in: query
      description: 'Биржа'
      required: true
      schema:
        description: > 
          Биржа:
            * `MOEX` - Московская биржа
            * `SPBX` - СПБ Биржа
        type: string
        enum:
          - MOEX
          - SPBX
    ExchangeQueryMoexOnly:
      name: exchange
      in: query
      description: 'Биржа'
      required: true
      schema:
        description: > 
          Биржа:
            * `MOEX` - Московская биржа
        type: string
        enum:
          - MOEX
    PortfolioPath:
      name: portfolio
      in: path
      description: 'Идентификатор клиентского портфеля'
      required: true
      schema:
        type: string
      example: D39004
    PortfolioQuery:
      name: portfolio
      in: query
      description: 'Идентификатор клиентского портфеля'
      required: true
      schema:
        type: string
      example: D39004
    Format:
      name: format
      in: query
      description: 'Формат возвращаемого сервером JSON'
      required: false
      schema:
        enum:
          - Simple
      example: Simple
    OrderId:
      name: orderId
      in: path
      description: 'Идентификатор заявки'
      required: true
      style: simple
      schema:
        type: integer
        format: int64
      example: 93713183
    StopOrderId:
      name: stopOrderId
      in: path
      description: 'Идентификатор заявки'
      required: true
      schema:
        type: integer
        format: int64
      example: 18946369167
    WithoutCurrency:
      name: withoutCurrency
      in: query
      description: 'Исключить из ответа все денежные инструменты'
      required: false
      schema:
        type: boolean
      example: false
    DateFrom:
      name: dateFrom
      in: query
      description: 'Начиная с какой даты отдавать историю сделок'
      required: false
      schema:
        type: string
        format: date
        example: '2021-10-13'
    DateFromSecQuery:
      name: from
      in: query
      description: 'Начало отрезка времени (UTC) в формате Unix Time Seconds'
      required: true
      schema:
        type: integer
        format: int64
      example: 1549000661
    DateFromSecQueryOptional:
      name: from
      in: query
      description: 'Начало отрезка времени (UTC) для фильтра результатов в формате Unix Time Seconds'
      required: false
      schema:
        type: integer
        format: int64
      example: 1593430060
    DateToSecQueryOptional:
      name: to
      in: query
      description: 'Конец отрезка времени (UTC) для фильтра результатов в формате Unix Time Seconds'
      required: false
      schema:
        type: integer
        format: int64
      example: 1593430560
    DateToSecQuery:
      name: to
      in: query
      description: 'Конец отрезка времени (UTC) в формате Unix Time Seconds'
      required: true
      schema:
        type: integer
        format: int64
      example: 1550060661
    SymbolPath:
      name: symbol
      in: path
      description: 'Тикер (Код финансового инструмента)'
      required: true
      style: simple
      schema:
        type: string
      example: "LKOH"
    SymbolQuery:
      name: symbol
      in: query
      description: 'Тикер (Код финансового инструмента)'
      required: true
      style: form
      schema:
        type: string
      example: SBER
    SymbolsPath:
      name: symbols
      in: path
      description: 'Принимает несколько пар биржа-тикер. Пары отделены запятыми. Биржа и тикер разделены двоеточием'
      required: true
      schema:
        type: string
        example: "MOEX:SBER,MOEX:GAZP,SPBX:AAPL"
      example: "MOEX:SBER,MOEX:GAZP,SPBX:AAPL"
    TickerPath:
      name: ticker
      in: path
      description: 'Тикер (Код финансового инструмента)'
      required: true
      style: simple
      schema:
        type: string
      example: "LKOH"
    TickerQuery:
      name: ticker
      in: query
      description: 'Тикер\код инструмента, ISIN для облигаций'
      required: false
      schema:
        type: string
        example: SBER
    TickerQueryNamedQuery:
      name: 'query'
      in: query
      description: 'Тикер (Код финансового инструмента)'
      required: true
      schema:
        type: string
      example: GAZP
    CfiCode:
      name: 'cficode'
      in: query
      description: 'Код финансового инструмента по стандарту ISO 10962'
      required: false
      schema:
        type: string
      example: 'EXXXXX'
    SecCode:
      name: seccode
      in: path
      description: 'Инструмент'
      required: true
      schema:
        type: string
      example: RTS-9.20
    Search:
      name: search
      in: query
      description: 'Часть Тикера\кода инструмента, ISIN для облигаций. Вернет все совпадения, начинающиеся с '
      required: false
      schema:
        type: string
      example: SBER
    FromId:
      name: from
      in: query
      description: 'Начальный номер сделки для фильтра результатов'
      required: false
      schema:
        type: integer
        format: int64
        example: 93713183
    FromIdAllTrades:
      name: fromId
      in: query
      description: 'Начальный номер сделки для фильтра результатов'
      required: false
      style: form
      explode: true
      schema:
        type: integer
        format: int64
      example: 7796897024
    ToId:
      name: toId
      in: query
      description: 'Конечный номер сделки для фильтра результатов'
      required: false
      schema:
        type: integer
        format: int64
      example: 7796897280
    TimeFrame:
      name: tf
      in: query
      description: 'Длительность таймфрейма в секундах или код ("D" - дни, "W" - недели, "M" - месяцы, "Y" - годы)' 
      required: true
      schema:
        type: string
        enum: 
        - 15
        - 60
        - 300
        - 3600
        - "D"
        - "W"
        - "M"
        - "Y"
      example: '60' #8fb58820-d933-46c4-98be-83343ebd728d
    LimitQueryOptionalMax1000:
      name: limit
      in: query
      description: 'Количество возвращаемых записей'
      required: false
      schema:
        type: integer
        format: int32
        maximum: 1000
        example: 50
    LimitQueryMax50000:
      name: limit
      in: query
      description: 'Ограничение на количество выдаваемых результатов поиска (1-50000)'
      required: true
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 50000
      example: 100
    LimitQueryOptional:
      name: limit
      in: query
      description: 'Ограничение на количество выдаваемых результатов поиска'
      required: false
      schema:
        type: integer
        format: int32
      example: 3
    Offset:
      name: offset
      in: query
      description: 'Смещение начала выборки (для пагинации)'
      required: false
      schema:
        type: integer
        format: int32
      example: 10
    Depth:
      name: depth
      in: query
      description: 'Глубина стакана. Стандартное и максимальное значение - 20 (20х20).'
      required: false
      schema:
        type: integer
        format: int32
        maximum: 20
        default: 20
        minimum: 1
      example: 5
    Take:
      name: take
      in: query
      description: 'Количество загружаемых элементов'
      required: false
      schema:
        type: integer
        format: int32
      example: 10
    Descending:
      name: descending
      in: query
      description: 'Флаг обратной сортировки выдачи'
      required: false
      schema:
        type: boolean
      example: false
    Sector:
      name: sector
      in: query
      description: 'Рынок на бирже'
      required: false
      schema:
        type: string
        description: >
          Рынок:
            * `FORTS` - Срочный рынок
            * `FOND` - Фондовый рынок
            * `CURR` - Валютный рынок
        enum:
          - FORTS
          - FOND
          - CURR
      example: FOND
    IncludeVirtualTrades:
      name: includeVirtualTrades
      in: query
[...]
